@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;400;600;800&family=Oswald:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding:0px;
    margin:0px;

}
/* .landingpage{
    background: url('images/background.png');
    background-color: linear-gradient(180deg, rgba(5, 43, 73, 0.72)0%, rgba(5, 43, 73, 0.90) 100%,),linear-gradient(0deg, #FFF 0%, #FFF 100%),lightgrey 50%;
    background-blend-mode:normal ,hue ,normal;
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;

} */

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background: none;
    z-index:2;
    /* margin:0 auto; */
  
}
.headgroup{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 0px;
    flex-wrap: wrap;
     
    
}

.container{
    margin:0 auto;
    align-items:center;
    max-width:1170px;
}
.menu-wrap{
    
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}
nav ul{
    list-style: none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:30px;
    margin-right:10px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:15px;
    font-family:Outfit;
    font-weight: 500;
}

.button{
    color:#fff;
    background-color: #3cb54a;
    padding:10px 10px;
    border-radius:5px;
    font-size:14px;
    font-weight: 400;
    font-family:Outfit;
    margin-left:10px;
    text-decoration: none;
}


.banner-back img{
    width:100%;
    object-fit:cover;
    vertical-align:top;
    position:relative;
    min-height:100vh;
    
    
    
}
.bottom-content{
   
   position:absolute;
   left:0;
width:100%; 
  transform:translate(0,-12%);
   top:55%;
    
}
.bottom-heading{
    font-family:Oswald;
    font-size:68px;
    font-weight:400;
    color:#fff;
    text-transform:uppercase;
    padding-bottom:20px;
    border-bottom:1px solid white;
   

}
.bottom-paragraph{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px 0 40px 0px;
    flex-wrap:wrap;
   
}
.bottom-info{
    color:#fff;
    font-family: outfit;
    font-size:20px;
    width:500px;
}
.bottom-btn{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:20px; 
} 


.btn-request{
    background-color: #3cb54a;
    color:#fff;
    border-radius:5px;
    padding:16px 32px;
    text-decoration: none;
    display:flex;
    align-items: center;
    
}


.btn-search{
    background: local;
    color:#3cb54a;
    border:1px solid #3cb54a;
    padding:16px 32px;
    text-decoration: none;
    display:flex;
    align-items: center;
    border-radius:5px;
}
.homepage-footer{
    background: rgba(5, 43, 73, 0.02);
    
    margin: 0 auto;
    align-items: center;
    
}

.homepage-container {
    font-family: Outfit;
    text-align:center;
    color: #687076;
    font-weight:300;
    font-size:12px;
    padding:40px 0px;
}

.homepage-footer-images{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:20px;
    flex-wrap: wrap;
    padding-bottom:20px;
    
}

.solutions-container{
    background-color: #fff;
}
.solutions-content{
    padding:40px 0px;
}

.solutions-heading h1{
    font-family: Oswald;
    font-size: 48px;
    letter-spacing: 0.03em;
    margin-bottom:40px;
    color:#052B49;
    font-weight: 400;
    text-transform: uppercase;

}
.solutions-box {
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}
.card{
    max-width:375px;
    display:flex;
    flex-direction:column;
    
    
}
.box-image{
    width:100%;
}
.box-info{
    text-align: center;
}
.box-info h2{
    font-family: Oswald;
    text-transform: uppercase;
    font-size:32px;
    font-weight: 400;
    color:#052B49;
}
.box-description{
    margin-top:16px;
    color:#3F454A;
    font-family: outfit;
    font-size: 18px;
    font-weight: 400;
    margin-bottom:24px;
}
 .read{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-decoration: none;
    color:#3cb54a;
    

}

   
.product-content{
    padding:40px 0px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:56px;
}
.product-content h1{
    color:#052B49;
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 400;
    line-height:60px;
}

.product-outer-container-1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
}
.product-inner-card{
    width:275px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;


   
}
.product-title h2{
    color:#062331;
    font-family:Oswald;
    font-size:26px;
    font-weight:400;
    line-height:32px;
}
 .product-description {
    color: #3F454A;
    font-family:Outfit;
    font-size:18px;
    font-weight: 400;
    line-height:28px;

}
 .product-readbutton{
    display:flex;
    flex-direction: row;
    gap:10px;
    font-family: Outfit;
    font-size: 18px;
    font-weight:600;
    text-decoration: none;
    color:#3cb54a;
}
.product-outer-container-2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.testimonial-container{
    background-color: #3cb54a;
}
.feedback-container{
    display:flex;
    flex-direction:row;
    gap:40px;
    padding:40px 0px;
}
.feedback-left{
    display:flex;
    flex-direction: column;
    color:#fff;
    width:360px;
    gap:10px;
    
}
.feedback-left-tophead{
  
    font-family:Outfit;
    font-size:16px;
    font-weight:400;
    text-transform: uppercase;
    text-align: justify;

}
.feedback-left-mainhead{
    font-family: oswald;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
  

}
.feedback-left-paragraph{
    font-family: outfit;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

}
.feedback-buttons{
    display:flex;
    align-items: center;
    gap:5px;
}
.feedback-right{
    display:flex;
    flex-direction: row;
    gap:20px;
    overflow: hidden;
    
}
.feedback-card{
    background-color:#fff;
    width:375px;
    padding:50px 80px;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap:24px;
    font-weight: 400;
}
.feedback-info{
    color:#3F454A;
    font-family: outfit;
    font-size: 18px;
   
    text-transform: capitalize;

}
.person-name{
    color:#3cb54a;
    font-family: Outfit;
    
    text-transform: uppercase;
    font-size: 20px;

}
.person-position{
    color:#687076;
    font-family: outfit;
    font-size: 16px;
   
}
.project-container{
    background-color: #fff;
}
.project-outercontainer{
    padding:40px 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:56px;
}
.project-outercontainer-top{
    display:flex;
    justify-content: space-between;
}
.project-heading{
    color:#052B49;
    font-family: oswald;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
}
.project-outercontainer-middle{
    display:flex;
    flex-direction: row;
    gap:10px;
    overflow: hidden;
    
}
.project-image-1{
    position:relative;
}

.project-cardinfo-1{
    position:absolute;
    top:350px;
    left:10px;
    width:500px;
    background-color: #fff;
    padding:24px;
    border-radius:5px;
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
}
.project-image-2{
    position:relative;
}
.project-cardinfo-2{
    position:absolute;
    top:350px;
    left:10px;
    width:500px;
    background-color: #fff;
    padding:24px;
    border-radius:5px;
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
}

.pinfotitle{
    display:flex;
    justify-content: space-between;
}
.projectcard-people{
    display:flex;
    align-items: center;
    gap:10px;
}
.projectcard-location{
    display:flex;
    align-items: center;
    gap:10px;
}
.projectcard-title{
    color:#052B49;
    font-family: oswald;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
}

.project-outercontainer-bottom{
    display:inline-flex;
    align-self:  center;
}
    
.about-container{
    background-color: #052B49;

}
.about-outercontainer{
    padding:40px 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:56px;
}
.about-outercontainer-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:64px;
}
.about-outercontainer-topleft{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    font-weight: 400;
    max-width:450px;

}
.toptitle{
    color:#3cb54a;
    font-family: outfit;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom:12px;
}
.about-heading{
color:#fff;
font-family: oswald;
font-size: 44px;
text-transform: uppercase;
margin-bottom:24px;
font-weight: 400;

}
.about-info{
    color:#fff;
    font-family: outfit;
    font-size: 18px;
    margin-bottom:40px;

}
.about-outercontainer-topright{
    position:relative;
}
.videoplayicon{
    position:absolute;
    top:50%;
    left:50%;
    width:40px;
}
.about-us{
    display:inline-flex;
    align-items: center;
    gap:10px;
    text-decoration: none;
    color:#fff;
    padding:16px 32px;
    border-radius:5px;
    text-transform: capitalize;
    background-color: #3cb54a;
}
.about-outercontainer-bottom{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:32px;
}
.bottom-top{
    color:#3cb54a;
    font-family:outfit;
    font-size:16px;
    text-transform: uppercase;
    font-weight: 400;
}
.bottom-bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutbottom-card {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
   
}
.aboutbottom-title{
    color:#fff;
    font-family: oswald;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;

}
.aboutbottom-info{
    color:#fff;
    font-family: outfit;
    font-size: 18px;
    font-weight: 400;
}
.video-container{
    background-color: #fff;

}
.video-outercontainer{
    padding:40px 0px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:56px;
}
.video-outercontainertop h1{
    color:#052B49;
    font-family: oswald;
    font-size:48px;
    font-weight: 400;
    
}
.video-outercontainerbottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.videobottom-left{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.video-bottom-image-1{
    position:relative;
}
 
   .video-playicon1{
    position:absolute;
    top:50%;
    left:50%;
    width:40px;
   }
   .video-bottom-image-2{
    position:relative;
}
.video-playicon2{
    position:absolute;
    top:50%;
    left:50%;
    width:40px;
   }
 
.video-info-title{
    
    color:#062331;
    border-bottom:1px solid #D8F0DB;
    padding:20px 0px;

}
.video-info-d{
    display:flex;
    align-items:center;
    color:#3F454A;
    font-family: outfit;
    font-size:18px;
    font-weight: 400;
    padding:20px 0px;
    gap:20px;
    border-bottom: 1px solid #D8F0DB;
}
.episode-view{
    display:flex;
    flex-direction: row;
    gap:10px;
    font-family: Outfit;
    font-size: 18px;
    font-weight:600;
    text-decoration: none;
    color:#3cb54a;
    padding:20px 0px;
}
.blogs-container{
    background-color:rgba(5, 43, 73, 0.02);
}
.blogs-outercontainer{
    padding:40px 0px;
    display:flex;
    flex-direction: column;
    gap:56px;
}
.blogs-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.blogs-heading {
    color:#052B49;
    font-family: Oswald;
    font-size: 44px;
    font-weight: 400;
    text-transform: uppercase;
}
.project-view{
    display:flex;
    align-items: center;
    gap:10px;
    color:#fff;
    background-color: #3cb54a;
    padding:16px 32px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-family: outfit;
    border-radius:5px;
}
.blogs-bottom{
    display:flex;
    flex-direction: row;
    gap:40px;


}
.blogs-bottom-card{
    background-color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:24px;
    /* max-width:372px; */
    flex-basis:372px;

   
}
.blogs-info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

 .blogs-stats{
    color:#687076;
    font-family: outfit;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom:8px;
}
.blogs-title{
    color: #062331;
    font-family: oswald;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    height:125px;
}
.blogs-readbutton{
    margin-top:24px;
    display:flex;
    flex-direction: row;
    gap:10px;
    font-family: Outfit;
    font-size: 18px;
    font-weight:600;
    text-decoration: none;
    color:#3cb54a;
    
}
.request-container{
    background:linear-gradient(90deg, rgba(5, 43, 73, 0.95) 41.15%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(0deg, #000 0%, #000 100%),  lightgray 50% / cover no-repeat;

background-blend-mode: normal, hue, normal;

}
.request-outercontainer{
    padding:40px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.request-left{
    color:#fff;
    font-family: oswald;
    font-size: 44px;
    font-weight: 400;
    text-transform: uppercase;
    width:650px;

}
.request-btn{
    display:inline-flex;
    align-items: center;
    color:#fff;
    text-decoration: none;
    padding:16px 32px;
    background-color: #3cb54a;
    font-family: outfit;
    font-size: 18px;
    font-weight: 400;
    gap:10px;
}
.footer-container{
    background-color: #052B49;

}
.footer-outercontainer{
    padding:40px 0px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
.footer-logo-info{
    color:#F2F4F7;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
    width:300px;
}
.footer-links{
    color:#fff;
    font-family: oswald;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
.footer-about {
    list-style: none;
    color:#F2F4F7;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    

}
.footer-about ul{
    list-style:none;
    
}

.footer-about ul li{
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
}
.footer-phonelinks {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer-phonelinks a{
    color:#F2F4F7;
}

.footer-bottom{
    margin-top:64px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color:#fff;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
}
.footer-mail{
    display:flex;
    align-items:center;
}
.footer-email{
    padding:8px 10px;
    background-color: #052B49;
    color:#fff;
    border:none;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
}
.line{
    border-bottom: 1px solid #E9E9E9;
}




