@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;400;600;800&family=Oswald:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;

}


header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background: none;
    z-index:2;
   
  
}
.headgroup{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 0px;
    flex-wrap: wrap;
     
    
}

.container{
    margin:0 auto;
    align-items:center;
    max-width:1170px;
}
.menu-wrap{
    
    display:flex;
   
    flex-wrap: wrap;
    
}
nav ul{
    list-style: none;
    /* display:inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    margin-right:10px;
    flex-wrap: wrap; */
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:15px;
    font-family:Outfit;
    font-weight: 500;
    margin:0px 10px;
}
.menu i{
    color:#fff;
   
}
.menu .fa-solid{
    display: none;
}
.button-accessories{
    margin-right: 10px;
}
.button{
    color:#fff;
    background-color: #3cb54a;
    padding:10px 10px;
    border-radius:5px;
    font-size:14px;
    font-weight: 400;
    font-family:Outfit;
    margin: 0 auto;
    text-decoration: none;
}
.banner-back{
    position:relative;
}

.banner-back img{
    width:100%;
    object-fit:cover;
    vertical-align:top;
    position:relative;
    min-height:100vh;
    
    
    
}
.bottom-content{
   
    position:absolute;
    left:0;
 width:100%; 
   transform:translate(0,-12%);
    top:50%;
     
 }

.bottom-heading{
    font-family:Oswald;
    font-size:68px;
    font-weight:400;
    color:#fff;
    text-transform:uppercase;
    padding-bottom:20px;
    border-bottom:1px solid white;
   

}
.bottom-paragraph{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px 0 40px 0px;
    flex-wrap:wrap;
   
}
.bottom-info{
    color:#fff;
    font-family: outfit;
    font-size:20px;
   max-width:500px;
}
.bottom-btn{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:20px; 
    flex-wrap: wrap;
} 


.btn-request{
    background-color: #3cb54a;
    color:#fff;
    border-radius:5px;
    padding:16px 32px;
    text-decoration: none;
    display:flex;
    align-items: center;
    
}


.btn-search{
    background: local;
    color:#3cb54a;
    border:1px solid #3cb54a;
    padding:16px 32px;
    text-decoration: none;
    display:flex;
    align-items: center;
    border-radius:5px;
}
.homepage-footer{
    background: rgba(5, 43, 73, 0.02);
    
   
}
.homepage-container{
    padding:40px 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:40px;
}

.homepage-footer-title {
    font-family: Outfit;
    text-align:center;
    color: #687076;
    font-weight:300;
    font-size:16px;
   
}

.homepage-footer-images{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap: wrap;
    
    
}

.solution-container{
    background-color: #fff;
}
.solution-outercontainer{
    padding:40px 0px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:56px;
}
.solution-content{
    display:flex;
    
    
    flex-wrap: wrap;
  justify-content: space-between;


  


}
.solution-innercard {
    
    display:flex;
    flex-direction: column;
    width: calc(33.33% - 30px);
    

    
   
}

.solution-innercard h3{
    color:#052B49;
    font-family: oswald;
    font-weight: 400;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}
.solution-info{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.solution-description {
    color:#3F454A;
    font-family: outfit;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.solution-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    text-decoration: none;
    color:#3cb54a;
    font-size: 18px;
}

.product-content{
    padding:40px 0px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:56px;
}
.page-title {
    color:#052B49;
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 400;
    line-height:60px;
}

.product-outer-container-1{
    display:flex;
    
    justify-content: space-between; 
    flex-wrap:wrap;
    
}
.product-inner-card{
    
    width:calc(25% - 20px);
    display:flex;
    flex-direction: column;
   
    gap:10px;


   
}
.product-title h2{
    color:#062331;
    font-family:Oswald;
    font-size:26px;
    font-weight:400;
    line-height:32px;
}
 .product-description {
    color: #3F454A;
    font-family:Outfit;
    font-size:18px;
    font-weight: 400;
    line-height:28px;

}
 .product-readbutton{
    display:flex;
    flex-direction: row;
    gap:10px;
    font-family: Outfit;
    font-size: 18px;
    font-weight:600;
    text-decoration: none;
    color:#3cb54a;
}
.product-outer-container-2{
    display:flex;
  
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial-container{
    background-color: #3cb54a;
}
.feedback-container{
    display:flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
    padding:40px 0px;
}
.feedback-left{
    display:flex;
    flex-direction: column;
    color:#fff;
   width:calc(30% - 30px); 
    gap:10px;
    
}
.feedback-left-tophead{
  
    font-family:Outfit;
    font-size:16px;
    font-weight:400;
    text-transform: uppercase;
    text-align: justify;

}
.feedback-left-mainhead{
    font-family: oswald;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
  

}
.feedback-left-paragraph{
    font-family: outfit;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

}
.feedback-buttons{
    display:flex;
    align-items: center;
    gap:5px;
}
.feedback-right{
    display:flex;
   width: calc(70%);
    gap:25px;
   
    
}
.feedback-card{
    background-color:#fff;
    /* width:375px; */
    /* width:calc(100%,- 00px); */
    padding:50px 80px;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap:24px;
    font-weight: 400;
}
.feedback-info{
    color:#3F454A;
    font-family: outfit;
    font-size: 18px;
   line-height: 28px;
    text-transform: capitalize;

}
.person-name{
    color:#3cb54a;
    font-family: Outfit;
    
    text-transform: uppercase;
    font-size: 20px;

}
.person-position{
    color:#687076;
    font-family: outfit;
    font-size: 16px;
   
}
.project-container{
    background-color: #fff;
}
.project-outercontainer{
    padding:40px 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:56px;
}
.project-outercontainer-top{
    display:flex;
    justify-content: space-between;
}

.project-outercontainer-middle{
    display:flex;
    flex-direction: row;
    gap:10px;
    overflow: hidden;

    
}

.project-image{
    position:relative;
}

.project-cardinfo{
    position:absolute;
    top:350px;
    left:10px;
    width:500px;
    background-color: #fff;
    padding:24px;
    border-radius:5px;
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
}



.pinfotitle{
    display:flex;
    justify-content: space-between;
}
.projectcard-people{
    display:flex;
    align-items: center;
    gap:10px;
}
.projectcard-location{
    display:flex;
    align-items: center;
    gap:10px;
}
.projectcard-title{
    color:#052B49;
    font-family: oswald;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
}

.project-outercontainer-bottom{
    display:inline-flex;
    align-self:  center;
}
    
.about-container{
    background-color: #052B49;

}
.about-outercontainer{
    padding:40px 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:56px;
}
.about-outercontainer-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:64px;
}
.about-outercontainer-topleft{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    font-weight: 400;
    max-width:450px;

}
.toptitle{
    color:#3cb54a;
    font-family: outfit;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom:12px;
}
.about-heading{
color:#fff;
font-family: oswald;
font-size: 44px;
text-transform: uppercase;
margin-bottom:24px;
font-weight: 400;

}
.about-info{
    color:#fff;
    font-family: outfit;
    font-size: 18px;
    margin-bottom:40px;

}
.about-outercontainer-topright{
    position:relative;
}
.videoplayicon{
    position:absolute;
    top:50%;
    left:50%;
    width:40px;
}
.about-us{
    display:inline-flex;
    align-items: center;
    gap:10px;
    text-decoration: none;
    color:#fff;
    padding:16px 32px;
    border-radius:5px;
    text-transform: capitalize;
    background-color: #3cb54a;
}
.about-outercontainer-bottom{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:32px;
}
.bottom-top{
    color:#3cb54a;
    font-family:outfit;
    font-size:16px;
    text-transform: uppercase;
    font-weight: 400;
}
.bottom-bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutbottom-card {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
   
}
.aboutbottom-title{
    color:#fff;
    font-family: oswald;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;

}
.aboutbottom-info{
    color:#fff;
    font-family: outfit;
    font-size: 18px;
    font-weight: 400;
}
.video-container{
    background-color: #fff;

}
.video-outercontainer{
    padding:40px 0px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:56px;
}
  

.video-outercontainerbottom{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.videobottom{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    width:calc(50% - 40px);
}
.video-bottom-image{
    position:relative;
}
 
   .video-playicon{
    position:absolute;
    top:50%;
    left:50%;
    width:40px;
   }


 
.video-info-title{
    
    color:#062331;
    border-bottom:1px solid #D8F0DB;
    padding:20px 0px;

}
.video-info-d{
    display:flex;
    align-items:center;
    color:#3F454A;
    font-family: outfit;
    font-size:18px;
    font-weight: 400;
    padding:20px 0px;
    gap:20px;
    border-bottom: 1px solid #D8F0DB;
}
.episode-view{
    display:flex;
    flex-direction: row;
    gap:10px;
    font-family: Outfit;
    font-size: 18px;
    font-weight:600;
    text-decoration: none;
    color:#3cb54a;
    padding:20px 0px;
}
.blogs-container{
    background-color:rgba(5, 43, 73, 0.02);
}
.blogs-outercontainer{
    padding:40px 0px;
    display:flex;
    flex-direction: column;
    gap:56px;
}
.blogs-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-view{
    display:flex;
    align-items: center;
    gap:10px;
    color:#fff;
    background-color: #3cb54a;
    padding:16px 32px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-family: outfit;
    border-radius:5px;
}
.blogs-bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;


}
.blogs-bottom-card{
    background-color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:24px;
    /* max-width:372px; */
    flex-basis:372px;

   
}
.blogs-info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

 .blogs-stats{
    color:#687076;
    font-family: outfit;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom:8px;
}
.blogs-title{
    color: #062331;
    font-family: oswald;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    height:125px;
}
.blogs-readbutton{
    margin-top:24px;
    display:flex;
    flex-direction: row;
    gap:10px;
    font-family: Outfit;
    font-size: 18px;
    font-weight:600;
    text-decoration: none;
    color:#3cb54a;
    
}
.request-container{
    background:linear-gradient(90deg, rgba(5, 43, 73, 0.95) 41.15%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(0deg, #000 0%, #000 100%),  lightgray 50% / cover no-repeat;

background-blend-mode: normal, hue, normal;

}
.request-outercontainer{
    padding:40px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.request-left{
    color:#fff;
    font-family: oswald;
    font-size: 44px;
    font-weight: 400;
    text-transform: uppercase;
    /* width:650px; */
    width:calc(100% - 650px);

}
.request-btn{
    display:inline-flex;
    align-items: center;
    color:#fff;
    text-decoration: none;
    padding:16px 32px;
    background-color: #3cb54a;
    font-family: outfit;
    font-size: 18px;
    font-weight: 400;
    gap:10px;
}
.footer-container{
    background-color: #052B49;

}
.footer-outercontainer{
    padding:40px 0px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
 

}
.footer-logo-info{
    color:#F2F4F7;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
    width:300px;
}
.footer-links{
    color:#fff;
    font-family: oswald;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
.footer-about {
    list-style: none;
    color:#F2F4F7;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    

}
.footer-about ul{
    list-style:none;
    
}

.footer-about ul li{
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
}
.footer-phonelinks {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer-phonelinks a{
    color:#F2F4F7;
}

.footer-bottom{
    margin-top:64px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color:#fff;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
}
.footer-mail{
    display:flex;
    align-items:center;
}
.footer-email{
    padding:8px 10px;
    background-color: #052B49;
    color:#fff;
    border:none;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
    outline:none;
}
.line{
    border-bottom: 1px solid #E9E9E9;
}


@media only screen and (max-width:600px){
    .headgroup{
        padding:20px 20px;
        
    }
    .site-logo img{
        width: 100px;
    }
    /* .menu-wrap{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    } */
    .menu ul{
        background-color: #3cb54a;
        position:absolute;
        top:0;
        right:-200px;
        width:200px;
        height:100vh;
        padding-top:50px;
        z-index:2;
        transition:right 0.5s;
        flex-direction: column;
        justify-content: flex-start;
    
    }
    /* .button{
        position:absolute;
        top:20;
        z-index: 3;
       
    } */
    .menu ul li{
        display:block;
        margin:15px;
        font-size: 12px;
    }
    .menu ul .fa-solid{
        position:absolute;
        top:25px;
        left:25px;
        cursor:pointer;
    }
    .menu .fa-solid{
        display:block;
        font-size:25px;
    }
   .button{
    position:absolute;
    top:0;
    right:250px;
    align-items: center;
   }


    .bottom-content{
        position:absolute;
        top:50%;
        padding:0px 10px;
    }
.bottom-heading{
    font-size: 35px;

}
.bottom-info{
    font-size:18px;
}
.bottom-btn{
    margin-top:20px;
}
.btn-request,.btn-search{
    font-size: 14px;
    padding:10px 10px;
    flex-basis:50%;
}

.page-title{
    font-size: 30px;
}
.solution-outercontainer,.product-outer-container-1,.product-outer-container-2,.blogs-outercontainer{
    padding:0px 20px;
}
.solution-content{
    flex-basis: 100%;

}
.solution-innercard{
    /* width:250px;  */
    flex-basis: 90%;
}
.solution-innercard,.product-inner-card h2{
    font-size: 18px;
}
.solution-description p,.solution-btn,.product-description,.product-readbutton{
    font-size: 14px;
}
.product-inner-card,.blogs-bottom-card{
    flex-basis: 90%;
}
}




