@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;400;600;800&family=Oswald:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding:0px;
    margin:0px;

}
/* .landingpage{
    background: url('images/background.png');
    background-color: linear-gradient(180deg, rgba(5, 43, 73, 0.72)0%, rgba(5, 43, 73, 0.90) 100%,),linear-gradient(0deg, #FFF 0%, #FFF 100%),lightgrey 50%;
    background-blend-mode:normal ,hue ,normal;
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;

} */

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background: none;
    z-index:2;
    /* margin:0 auto; */
  
}
.headgroup{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 0px;
    flex-wrap: wrap;
     
    
}

.container{
    margin:0 auto;
    align-items:center;
    max-width:1170px;
}
.menu-wrap{
    
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}
nav ul{
    list-style: none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:30px;
    margin-right:10px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:15px;
    font-family:Outfit;
    font-weight: 500;
}

.button{
    color:#fff;
    background-color: #3cb54a;
    padding:10px 10px;
    border-radius:5px;
    font-size:14px;
    font-weight: 400;
    font-family:Outfit;
    margin-left:10px;
    text-decoration: none;
}


.banner-back img{
    width:100%;
    object-fit:cover;
    vertical-align:top;
    position:relative;
    min-height:100vh;
    
    
    
}
.bottom-content{
   
   position:absolute;
   left:0;
width:100%; 
  transform:translate(0,-12%);
   top:55%;
    
}
.bottom-heading{
    font-family:Oswald;
    font-size:68px;
    font-weight:400;
    color:#fff;
    text-transform:uppercase;
    padding-bottom:20px;
    border-bottom:1px solid white;
   

}
.bottom-paragraph{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px 0 40px 0px;
    flex-wrap:wrap;
   
}
.bottom-info{
    color:#fff;
    font-family: outfit;
    font-size:20px;
    width:500px;
}
.bottom-btn{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:20px; 
} 


.btn-request{
    background-color: #3cb54a;
    color:#fff;
    border-radius:5px;
    padding:16px 32px;
    text-decoration: none;
    display:flex;
    align-items: center;
    
}


.btn-search{
    background: local;
    color:#3cb54a;
    border:1px solid #3cb54a;
    padding:16px 32px;
    text-decoration: none;
    display:flex;
    align-items: center;
    border-radius:5px;
}
.homepage-footer{
    background: rgba(5, 43, 73, 0.02);
    
    margin: 0 auto;
    align-items: center;
    
}

.homepage-container {
    font-family: Outfit;
    text-align:center;
    color: #687076;
    font-weight:300;
    font-size:12px;
    padding:40px 0px;
}

.homepage-footer-images{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:20px;
    flex-wrap: wrap;
    padding-bottom:20px;
    
}

.solutions-container{
    background-color: #fff;
}
.solutions-content{
    padding:40px 0px;
}

.solutions-heading h1{
    font-family: Oswald;
    font-size: 48px;
    letter-spacing: 0.03em;
    margin-bottom:40px;
    color:#052B49;
    font-weight: 400;
    text-transform: uppercase;

}
.solutions-box {
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}
.card{
    max-width:375px;
    display:flex;
    flex-direction:column;
    
    
}
.box-image{
    width:100%;
}
.box-info{
    text-align: center;
}
.box-info h2{
    font-family: Oswald;
    text-transform: uppercase;
    font-size:32px;
    font-weight: 400;
    color:#052B49;
}
.box-description{
    margin-top:16px;
    color:#3F454A;
    font-family: outfit;
    font-size: 18px;
    font-weight: 400;
    margin-bottom:24px;
}
 .read{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-decoration: none;
    color:#3cb54a;
    

}

   

.product-content{
    padding:40px 0px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:56px;
}
.product-content h1{
    color:#052B49;
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 400;
    line-height:60px;
}

.product-outer-container-1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
}
.product-inner-card{
    width:275px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    align-items: stretch;
   
}
.product-title h2{
    color:#062331;
    font-family:Oswald;
    font-size:26px;
    font-weight:400;
    line-height:32px;
}
 .product-description {
    color: #3F454A;
    font-family:Outfit;
    font-size:18px;
    font-weight: 400;
    line-height:28px;

}
 .product-readbutton{
    display:flex;
    flex-direction: row;
    gap:10px;
    font-family: Outfit;
    font-size: 18px;
    font-weight:600;
    text-decoration: none;
    color:#3cb54a;
}







.product-outer-container-2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
